<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AppList</name>
    <description>
        Um aplicativo simples e prático para organizar e compartilhar a lista de compras para sua família.
    </description>
    <author email="fabricio.rocha@uxdevelop.com" href="http://uxdevelop.com">
        Fabrício Rocha
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
