.align-center{
    text-align: center;
}

.align-center input{
    text-align: center;
}

.boxImage{
    text-align: center;
}

.img-home{
    width: 60%;
    margin-top: 20%;
}

.wrap{
    width: 100%;
}

.md-left{
    float: left;
    width: 80%;
}
.sm-right{
    width: 20%;
    float: right;
}

.ui-grid-a, .ui-grid-b, .ui-grid-c{
    min-height: 50px;
}

.home-page.ui-content .ui-block-a,.home-page.ui-content .ui-block-b{
    margin-top: 100px;
}

/******* BACKGROUND ******/
#main-page, #my-lists, #addList, #seeList{
    background-image: url(images/bg-whats.jpg);
    background-size: cover; 
}

/******* BUTTONS ********/
.ui-block-a .btn-plus{
    font-size: 0;
    background-image: url('images/writing.svg');
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    left: 40px;
    float: left;
}

.ui-block-b .btn-list{
    font-size: 0;
    background-image: url('images/button-list.png');
    background-size: cover;
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    right: 40px;
    float: right;
}

.ui-grid-b .ui-block-a .btn-home, 
.ui-grid-c .ui-block-a .btn-home{
    font-size: 0;
    background-image: url('images/back.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    left: 10px;
    top: 10px;
    float: left;
}

.ui-grid-b .ui-block-c .btn-add-list,
.wrap .sm-right .btn-add-list{
    font-size: 0;
    background-image: url('images/writing.svg');
    background-size: cover;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    right: 10px;
    top: 10px;
    float: right
}

.wrap .sm-right .btn-add-list{
 right: -15px;
 top:0;
}

.ui-block-a .btn-plus:focus, 
.ui-block-b .btn-list:focus, 
.ui-grid-b .ui-block-a .btn-home:focus, 
.ui-grid-b .ui-block-c .btn-add-list:focus,
.wrap .sm-right .btn-add-list:focus {
    background-color: rgba(150,150,150,0.5);
    border: none;
    border-radius: 100%;
    box-shadow: none;
}

.ui-grid-a .ui-block-b .btn-add-list.mini-btn{
    width: 35px;
    height: 35px;
}

.ui-grid-b .ui-block-b .btn-save{
    font-size: 0;
    background-image: url('images/save.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    right: -50px;
    top: 10px;
}

.ui-grid-b .ui-block-c .btn-share{
    font-size: 0;
    background-image: url('images/share.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    right: 10px;
    top: 10px;
    float: right;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo-top{
    width: 30%;
    background-image: url('images/logo-blk.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
}

.logo-top h2{
    font-size: 0;
}

.item-adds{
    width: 80%;
}

.input-title{
    text-align: center;
}

.newList table{
    width: 100%;
}
.newList .ui-input-text input.name-list{
    text-align: center;
}

.name-list{
    width: 75%;
    display: inline-block;
}
.btn-see{
    width: 20%;
    display: inline-block;
    text-align: right;
}

.btn-see button{
    font-size: 0;
    background-image: url('images/garbage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border-color: transparent;
    border-image: initial;
    border-style: unset;
    color: transparent;
}

.btn-lista{
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    border-image: initial;
    border-style: unset;
    text-align: left;
}

.input-lg{
    width: 100%;
}

.input-lg .name-list{
    width: 100%;
}

.ul-white{
    background-color: #fff;
    border-radius: 10px;
}

ul li{
    list-style: none;
}