.boxImage{
    position: relative;
    width: 100%;
    height: 250px;
}

.img-home{
    width: 80%;
    position:absolute;
    top: 60px;
    transform: translateX(-50%);
    left: 50%;
}

.wrap{
    width: 100%;
}

.md-left{
    float: left;
    width: 80%;
}
.sm-right{
    width: 20%;
    float: right;
}

.home-page.ui-content .ui-block-a,.home-page.ui-content .ui-block-b{
    margin-top: 100px;
}

/******* BUTTONS ********/
.ui-block-a .btn-plus{
    font-size: 0;
    background-image: url('images/button-plus.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    left: 20%;
}

.ui-block-b .btn-list{
    font-size: 0;
    background-image: url('images/button-list.png');
    background-size: cover;
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    left: 40%;
}

.ui-grid-b .ui-block-a .btn-home{
    font-size: 0;
    background-image: url('images/home-button.png');
    background-size: cover;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    left: 10%;
    top: 10px;
}

.ui-grid-b .ui-block-c .btn-add-list,
.wrap .sm-right .btn-add-list{
    font-size: 0;
    background-image: url('images/button-plus.png');
    background-size: cover;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    right: -50px;
    top: 10px;
}

.wrap .sm-right .btn-add-list{
 right: -15px;
 top:0;
}

.ui-block-a .btn-plus:focus, 
.ui-block-b .btn-list:focus, 
.ui-grid-b .ui-block-a .btn-home:focus, 
.ui-grid-b .ui-block-c .btn-add-list:focus,
.wrap .sm-right .btn-add-list:focus {
    background-color: rgba(150,150,150,0.5);
    border: none;
    border-radius: 100%;
    box-shadow: none;
}

.ui-grid-a .ui-block-b .btn-add-list.mini-btn{
    width: 35px;
    height: 35px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo-top{
    width: 30%;
    background-image: url('images/logo-blk.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
}

.logo-top h2{
    font-size: 0;
}

.item-adds{
    width: 80%;
}

.input-title{
    text-align: center;
}

.newList table{
    width: 100%;
}
.newList .ui-input-text input.name-list{
    text-align: center;
}